page-user-sign-up {
  .toolbar-title.toolbar-title-md {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    pointer-events: auto;
  }
  button.submit-btn.disable-hover.button.button-md.button-default.button-default-md.button-full.button-full-md.button-md-mov {
    font-size: x-large;
    text-transform: none;
  }
  ion-label#lbl-12 {
    color: gray;
    font-weight: 400;
  }
  ion-label#lbl-28 {
    color: gray;
  }
}
