page-order-servant {
  ion-label#lbl-28 {
    color: gray;
  }
  ion-label#lbl-29 {
    color: gray;
  }
  ion-label#lbl-30 {
    color: gray;
  }
  ion-label#lbl-31 {
    color: gray;
  }
  ion-label#lbl-32 {
    color: gray;
  }
  ion-label#lbl-33 {
    color: gray;
  }
  ion-label#lbl-34 {
    color: gray;
  }
  ion-label#lbl-35 {
    color: gray;
  }
  p.text {
    padding: 0 16px;
    font-size: 16px;
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
